/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establece una tipografía agradable */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  color: #666;
}

/* Estilos de la barra de navegación */
nav {
  background-color: #007bff;
  padding: 15px 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav .nav-link {
  color: #0056b3;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

nav .nav-link:hover {
  background-color: #0056b3;
  color: white;
}

nav .nav-link.active {
  background-color: #0056b3;
  font-weight: bold;
  color: white;
}


/* Estilos para la lista de artículos */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

ul li:hover {
  transform: translateY(-5px);
}

ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #007bff;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: underline;
}

/* Estilos para los detalles del artículo */
.post-detail {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post-detail h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

.post-detail p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
}

.post-detail a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.post-detail a:hover {
  text-decoration: underline;
}
